body
{
  font-family: "Avenir Next";
}

h1,h2, header
{
  color: #0F355A;
  font-weight: Normal;
}
#myColor{
  position: absolute;
  top: 130px;
}
#color{
  position: absolute;
  top: 100px;
}
#home{
  position: absolute;
  top: 200px;
}
#checks{
  position: absolute;
  top: 300px;
}
span.name
{
  position: absolute;
  font-size: 18px;
  top: 30px;
  left: 150px;
}
span.about
{
  position: absolute;
  font-size: 14px;
  left: 400px;
  top: 30px;
}

span.color
{
  position: absolute;
  font-size: 14px;
  left: 550px;
  top: 30px;
}

span.BW
{
  position: absolute;
  font-size: 14px;
  left: 700px;
  top: 30px;
}
p,ol,ul
{
  color: #90182B;
  font-weight: normal;
}
a
{
  color: #0F355A;
}
div.LMU
{
  width: 200px;
  display:block;
  margin: auto;
}

span.Me
{
  position: absolute;
  height: 15px;
  top: 510px;
  width: 275px;
  left: 10px;
  right: 10px;
  text-align: left;
}
div.Me
{
  position: absolute;
  height: 15px;
  width: 500px;
  top: 540px;
  left: 30px;
}

span.Person
{
  position: absolute;
  height: 15px;
  top: 610px;
  width: 275px;
  left: 10px;
  right: 10px;
  text-align: left;
}
div.Personal
{
  position: absolute;
  overflow: scroll
  height: 15px;
  top: 640px;
  width: 500px;
  left: 30px;
  text-align: left;
}

span.interests
{
  position: absolute;
  height: 15px;
  top: 740px;
  width: 275px;
  left: 10px;
  right: 10px;
  text-align: left;
}
div.interests
{
  position: absolute;
  height: 15px;
  left: 30px;
  top: 770px;
  text-align: left;
}
ol,ul
{
  list-style: circle;
}
span.Props
{
  font-style: bold;
}
div.photo1
{
  position: absolute;
  top: 1000px;
  display:block;
  margin: auto;

}

div.photo2
{
  position: absolute;
  top: 1000px;
  left: 500px;
  display: block;
  margin: auto;
}

div.photo3
{
  position: absolute;
  top: 100px;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  display: block;
  margin: auto;
  text-align: center;
}
div.photo3 img
{
  max-width: 100%;
}







footer
{
  border-top: 1px solid #0F355A;
  margin-top: 2000px;
  text-align: right;
  size: 10px;
}
